@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
#header{
	background-color: orange;
	padding: 25px;
	border-radius: 8px;
}
.bigtext{
	font-family: "Quicksand";
	font-size: 45px;
	color: white;
}
.slogan{
	text-transform: uppercase;
	font-size: 15px;
}
.navtext{
	margin: 5px;
    padding:15px;
    font-size: 15px;
}
#firstsidebar{
	background-color: #3498DB;
	height: 260px;
	width: 120px;
	padding: 15px;
}
.main{
	text-transform: uppercase;
	font-size: 25px;
	font-family: "Inter";
	padding: 10px;
	background-color: #ff7100;
	color: white;
}
.subtext{
	font-style: italic;
}
td{
	padding: 15px;
	line-height: 0.9999;
}
#secondsidebar{
	background-color: #55EAEA;
	color: white; 
}
.footer{
	text-align: right;
	background-color: #B7C4C4;
}